/********* COMMON STYLES *********/
// text initialization
a, p, h1, h2, h3, h4, h5, h6, blockquote {
  font-size: $basic;
}
// E N V I R O N M E N T
html, body {
  height: 100%;
}
html {
  font-size: $basic;
}
body {
  background: $color-bg $bgimg;
  font-family: $font-regular;
  color: $color-main;
  box-sizing: border-box;
  @media print {
    background: transparent;
  }
}
h1, h2, h3, h4, h5, h6 {
  //display: block;
  font-family: $font-regular;
  color: $color-main;
  font-weight: bold;
  line-height: 2em;
  @media screen and (max-width: 720px) {    
    margin: $basic;
  }
}
h2, h3 {
  color: $color-light;
}
h4, h5, h6 {
  font-family: $font-regular;
  color: $color-dark;
}
h1 {
  font-size: $basic * 2;
  color: $color-contrast;
}
h2 {
  font-size: $basic * 1.75;
}
h3 {
  font-size: $basic * 1.5;
}
h4 {
  font-size: $basic * 1.25;
}
h5 {
  font-size: $basic * 1.125;
}
h6 {
  font-size: $basic;
}
p {
  text-align: justify;
  line-height: 1.5;
  margin: $basic;
  text-indent: $basic;
}
blockquote {
  color: $color-light;
  margin: $basic $basic * 3;
  padding: math.div($basic, 2) math.div($basic, 2) math.div($basic, 2) $basic;
  border-left: math.div($basic, 4) solid $color-light;
	font-style: italic;
	border-radius: 0 $basic $basic 0;
}
a {
  text-indent: 0;
  color: $color-light;
  text-decoration: none;
  &:hover {
    color: $color-contrast;
  }
}

select {
  display: block;
  margin: 1mm;
  height: 8mm;
  font-size: 4mm;
  //padding: 1mm;
  //line-height: 6mm;
  color: $color-main;
}
//-----------------------
.button-inline {
  display: inline-block;
  vertical-align: baseline;   
  height: $line-h; 
  padding: 0 1em; 
  line-height: $line-h;
  margin: 0 math.div($line-h, 2);
  // decorating
  background: $gradient-bg;
  font-size: $basic;
  font-family: $sans-serif;
  color: $color-dark;
  text-decoration: none;
  border-radius: .5rem;
  border: 1px solid white;
  box-shadow: 0 0 .1rem $color-neutral;
  &:hover {
    background: $gradient-main;
    color: white;
  }
  &:active {
    position: relative;
    top: 1px;
    //left: 1px;
    background: linear-gradient(to bottom, darken($color-light, 10%), lighten($color-main, 5%) 48%, $color-main 52%, $color-dark);
    //box-shadow: -1px -1px .1rem $color-neutral;
    border-right-color: $color-bg;
    border-bottom-color: $color-bg;
  }
}
img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}
.img-article {
  width: calc(100% - 24px);
  margin: math.div($basic, 4) * 3;
}
.thumb {
  width: calc(100% - 24px);
  margin: math.div($basic, 2);
  border-width: math.div($basic, 2);
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 math.div($basic, 2) rgba(0,0,0,.3);
}
.thumb-320 {
  width: 288px;
}
.rope {
  display: block;
  margin: 0 auto;
  width: 116px;
  height: 42px;
  background: url(https://raw.githubusercontent.com/Skidan/aivazovsky/master/img/knot-colormain.png) center center no-repeat;
  &::before, &::after {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    content: "";
    height: 42px;
    
  }
  &::before {
    left: 40px;
    width: calc(50% - 98px);
    background: url(https://raw.githubusercontent.com/Skidan/aivazovsky/master/img/rope-colormain.png) right center repeat-x;    
  }
  &::after {
    right: 40px;
    width: calc(50% - 98px);
    background: url(https://raw.githubusercontent.com/Skidan/aivazovsky/master/img/rope-colormain.png) left center repeat-x;
  }
}
.primary {
  background-color: rgb(31,57,72);
  color: $color-bg;
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: $color-dark;
  & * {
    color: $color-bg;
  }
}
.danger {
  background-color: rgba(153,0,0,.3);
  color: $color-contrast;
  border-color: $color-contrast;
  box-shadow: 0 4px 4px rgba(153,0,0,.2);
  & * {
    color: $color-contrast;
  }
}
.info {
  background-color: rgba(18,126,155,.3);
  color: $color-light;
  border-color: $color-light;
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
	text-decoration: none;
  & * {
    color: $color-light;
  }
}
.success {
  background-color: rgba(0,132,15,.3);
  color: rgb(0,132,15);
  border-color: rgb(0,132,15);
  box-shadow: 0 4px 4px rgba(0,132,15,.2);
	& * {
    color: rgb(0,132,15);
  }
}
.attention {
  background-color: rgba(220,140,0,.3);
  color: rgb(220,140,0);
  border-color: rgb(220,140,0);
  box-shadow: 0 4px 4px rgba(220,140,0,.2);
  & * {
    color: rgb(220,140,0);
  }
}
.disabled {
  background-color: rgba(233,234,236,.5);
  color: $color-neutral;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed;
}

.button {
  display: inline-block;
  vertical-align: top;
  margin: math.div($basic, 4);
  background-color: rgba(233,234,236,.3);
  color: $color-main;
  padding: 0 $basic;
  border-radius: math.div($basic, 4);
  border: 1px solid $color-neutral;
  line-height: $basic * 2;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  transition: background-color .2s;
  &:hover {
    background-color: lighten($color-neutral, 10%);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
  }
  &:active {
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    background-color: darken($color-neutral, 10%);
  }
}
.btn-primary {
  background-color: rgb(31,57,72);
  color: $color-bg;
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: $color-dark;
  &:hover {
    background-color: $color-light;
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(18,126,155,.4);
  }
  &:active {
    background-color: darken($color-light, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(18,126,155,.4);
  }
}
.btn-danger {
  background-color: rgba(153,0,0,.3);
  color: $color-contrast;
  border-color: $color-contrast;
  box-shadow: 0 4px 4px rgba(153,0,0,.2);
  &:hover {
    background-color: lighten($color-contrast, 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(153,0,0,.4);
  }
  &:active {
    background-color: darken($color-contrast, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(153,0,0,.4);
  }
}
.btn-info {
  background-color: rgba(18,126,155,.3);
  color: $color-light;
  border-color: $color-light;
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  //cursor: help;
  &:hover {
    background-color: lighten($color-light, 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(18,126,155,.4);
  }
  &:active {
    background-color: darken($color-light, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(18,126,155,.4);
  }
}
.btn-success {
  background-color: rgba(0,132,15,.3);
  color: rgb(0,132,15);
  border-color: rgb(0,132,15);
  box-shadow: 0 4px 4px rgba(0,132,15,.2);
  &:hover {
    background-color: lighten(rgb(0,132,15), 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(0,132,15,.4);
  }
  &:active {
    background-color: darken(rgb(0,132,15), 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(0,132,15,.4);
  }
}
.btn-attention {
  background-color: rgba(220,140,0,.3);
  color: rgb(220,140,0);
  border-color: rgb(220,140,0);
  box-shadow: 0 4px 4px rgba(220,140,0,.2);
  &:hover {
    background-color: lighten(rgb(220,140,0), 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(220,140,0,.4);
  }
  &:active {
    background-color: darken(rgb(220,140,0), 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(220,140,0,.4);
  }
}
.btn-disabled {
  background-color: rgba(233,234,236,.5);
  color: $color-neutral;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed;
  &:hover, &:active {
    background-color: rgba(233,234,236,.5);
    color: $color-neutral;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    cursor: not-allowed;
  }
}


input {
	//height: 32px;
	margin: math.div($basic, 2);
	padding: 0 $basic;
  border: 1px solid $color-main;
  border-radius: math.div($basic, 4);
	line-height: $basic * 2;
	font-size: $basic;
  //text-indent: .5em;
	&[type=text] {
		//border-radius: 5px;
		
		//margin: 10px 0 10px 10px;
		//width: 510px;
	}
  &[type=button] {
		//
		
		//margin: 10px 10px 10px 0  ;
    //padding: $basic;
		//width: 510px;
	}
}
button {
	margin: 10px 5px !important;
}
#wrapper {
	width: 100%;
	height: 100vh;
}
#canvas {
	width: 600px;
	margin: 0 auto;
	padding: 10px;
}
.card-item {  
  padding: math.div($basic, 2);
  margin: $basic;
  border-left: math.div($basic, 4) solid;
  font-style: italic;
	border-radius: 0 19px 19px 0;
  flex-grow: 1;
  flex-shrink: 1;
  @media screen and (min-width: 721px) and (max-width: 960px) {
    width: $basic * 20;
    margin: 0 $basic $basic 0;
  }
  @media screen and (min-width: 961px) and (max-width: 1280px) {
    width: $basic * 25;
    margin: 0 $basic $basic 0;
  }
  @media screen and (min-width: 1281px) and (max-width: 1920px) {
    width: $basic * 24;
    margin: 0 $basic $basic 0;
  }
  @media screen and (min-width: 1920px) {
    width: $basic * 27;
    margin: 0 $basic $basic 0;
  }
}
.card-name {
  font-size: $basic * 1.25;
  line-height: $basic * 1.75;
}
.card-desc {  
  text-align: left;
  line-height: 1.25;
  margin: 0;
  text-indent: 0;
}
.submenu {
	width: 28px;
	height: 28px;
	position: absolute;
	right: 7px;
	top: 7px;
	border-radius: 14px;
	padding: 0;
	margin: 0;
	text-align: center;
	color: inherit;
	border-color: inherit;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
	&:hover {
		border-color: white;
	}
}
.delete>i {
	font-size: 20px;
	line-height: 28px;
}
.item>i {
	font-size: 20px;
	line-height: 28px;
	margin: 0 16px 0 0;
}

@keyframes adding {
	from {
		opacity: 0;
		transform: translateY(-40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.deletion {
	animation: removal 1s;
}
@keyframes removal {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-100px);
	}
}

//---------- 2022-07-26----------------
.measures {
  outline: 1px dashed blue;
}
body {
	padding: 0;
	margin: 0;
}
.adaptiveContainer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  
  @media screen and (min-width: 721px) and (max-width: 960px) {
    width: 690px;
  }
  @media screen and (min-width: 961px) and (max-width: 1280px) {
    width: 930px;
  }
  @media screen and (min-width: 1281px) and (max-width: 1920px) {
    width: 1250px;
  }
  @media screen and (min-width: 1920px) {
    width: 1880px;
  }
}

.horis {
  flex-direction: row;
}
.vert {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.centerh {
  justify-content: center;
}
.centerv {
  align-items: center;
}

#App {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}
section {
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: $basic 0;
  //&:nth-child(even) {
  //  background-color: rgba(18,126,155,.3);
  //  color: $color-light;
  //  border-color: $color-light;
  //  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  //}
}

@import "_header";
@import "_main";
@import "_footer";

.window {
	width: 320px;
	height: 240px;
	margin: 0 auto;
	position: relative;
	background: inherit;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(0,0,0,.5);
	transition: height .3s;
	&::before {
		content: "";
		background: inherit;
		position: absolute;
		left: -25px;
		right: -25px;
		top: -25px;
		bottom: -25px;
		box-shadow: inset 0 0 3000px rgba(255,255,255,.5);
		filter: blur(7px);
		-ms-filter: blur(7px);
	}
}
.container {
	position: absolute;
	top: 0;
	left: 0;
	widht: 100%;
	height: 240px;
	transition: height .3s;
}
.teaser-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	height: 240px;
	background-image: url(https://blog.studocu.com/wp-content/uploads/2017/08/best-books-book-youll-ever-read.jpg);
	background-size: cover;
}
.teaser-heading {
	position: absolute;
	top: 192px;
	left: 0;
	padding: 0 24px;
	//font-size: 24px;
	//line-height: 2em;
	width: calc(320px - 96px);
	background-color: rgba(0,0,0,.7);
	overflow: hidden;
	text-overflow: ellipsis;
}
.iwantmore {
	position: absolute;
	text-align: center;
	top: 192px;
	left: calc(320px - 48px);
	width: 48px;
	height: 48px;
	background-color: rgba(0,0,0,.7);
	cursor: pointer;
	& .cross {
		margin: 12px;
		width: 24px;
		height: 24px;
		transition: .3s;
	}
}
.teaser-text, .teaser-details {
	height: 0px;
	width: 320px;
	transition: height .3s;
	overflow: hidden;
}
.teaser-text {
	position: absolute;
	top: 240px;
	overflow-y: scroll;
	// scrollbar customization
	&::-webkit-scrollbar-track {background-color: #e9eaec}
	&::-webkit-scrollbar {width: 4px}
	&::-webkit-scrollbar-thumb {background-color: silver; border-radius: 2px;&:hover{background-color: grey}}	
}
.innertext {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1.5em;
	text-align: justify;
	color: #333;
	//height: 240px;
	//width: 320px;
	margin: 16px;
}
.teaser-details {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 320px;
	background: rgba(50,50,50,.5);
}
.publish-date, .tags {
	display: inline-block;
	vertical-align: top;
	padding: 6px;
	color: white;
	font-family: monospace;
	font-size: 12px;
}
.tag {
	font-size: 12px;
	z-index: 9;
	&::before {
		content:"#";
	}
	&::after {
		content:", ";
	}	
	&:last-child:after {
		content: "";
	}
}



// MODIFYERS
.hight-container-expanded {
	height: 584px;
}
.height-text-expanded {
	height: 320px;
}
.height-details-expanded {
	height: 24px;
}
.rotate {
	transform: rotate(225deg);
}



