/************ MAIN STYLES *************/
main {
    display: flex;
    flex-grow: 3;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
    //outline: 1px dotted yellow;    
}