svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 900" height="36mm" width="36mm" onclick="document.getElementById('menu_icon').classList.toggle('menuexpanded');")#menu_icon
    g#dashes
        path(d="M145 609l609 0c74,0 74,111 0,111l-609 0c-74,0 -74,-111 0,-111z")#dash_bottom.menu_icon_dash
        path(d="M146 394c203,0 406,0 609,0 74,0 74,111 0,111 -203,0 -406,0 -609,0 -74,0 -74,-111 0,-111z")#dash_middle.menu_icon_dash
        path(d="M146 179l609 0c74,0 74,111 0,111l-609 0c-74,0 -74,-111 0,-111z")#dash_top.menu_icon_dash