header
    nav
        .block-login
            .block-login-icon
        .block-mainlogo 
            include _ut_logo
        .block-hamburger
            include _burger
        .block-mainmenu
            ul.mainmenu
                li.mainmenu-item
                    a(href="#").mainmenu-link Main
                li.mainmenu-item
                    a(href="#").mainmenu-link Instrukijos
                li.mainmenu-item
                    a(href="#").mainmenu-link DUK
                li.mainmenu-item
                    a(href="#").mainmenu-link Kolegos
                li.mainmenu-item
                    a(href="#").mainmenu-link Zemelapis
            .block-search
                input(type="text" placeholder="Search")
                