main
    section 
        article.adaptiveContainer.horis.nowrap.danger
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt autem non eaque similique perspiciatis eveniet accusamus necessitatibus dolor eos!
    section
        h2.adaptiveContainer Naujenos 
        article.adaptiveContainer.horis.nowrap
    section
        h2.adaptiveContainer Instrukcijos
        article.adaptiveContainer.horis.wrap 						
            a(href="#").card-item.info
                h3.card-name Informacines sistemos 
                p.card-desc Informaciniu sistemu aprasymai bei ypatybes
            a(href="#").card-item.danger
                h3.card-name COVID taisykles 
                p.card-desc Informaciniu sistemu aprasymai bei ypatybes 
            a(href="#").card-item.success
                h3.card-name Socialine atsakomybe 
                p.card-desc Informaciniu sistemu aprasymai bei ypatybes 
            a(href="#").card-item.attention
                h3.card-name Darbo vietu instrukcijos
                p.card-desc Informaciniu sistemu aprasymai bei ypatybes 
            a(href="#").card-item.primary
                h3.card-name Darbinio proceso aprasymai 
                p.card-desc Informaciniu sistemu aprasymai bei ypatybes 
        
    section
        h2.adaptiveContainer Ieskome nauju kolegu
        article.adaptiveContainer
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae iure velit exercitationem voluptatem magnam, omnis culpa quo ut illo deserunt amet excepturi nostrum iusto, laudantium beatae ratione possimus maxime. Totam adipisci laboriosam itaque officiis? Excepturi, quia dolores. Eius a perspiciatis placeat ratione explicabo qui laborum laudantium eum, veritatis, illum delectus?
        .adaptiveContainer.rope
    section
        h2.adaptiveContainer Musu vertybes
        article.adaptiveContainer
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae iure velit exercitationem voluptatem magnam, omnis culpa quo ut illo deserunt amet excepturi nostrum iusto, laudantium beatae ratione possimus maxime. Totam adipisci laboriosam itaque officiis? Excepturi, quia dolores. Eius a perspiciatis placeat ratione explicabo qui laborum laudantium eum, veritatis, illum delectus?
    section
        article.adaptiveContainer
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae iure velit exercitationem voluptatem magnam, omnis culpa quo ut illo deserunt amet excepturi nostrum iusto, laudantium beatae ratione possimus maxime. Totam adipisci laboriosam itaque officiis? Excepturi, quia dolores. Eius a perspiciatis placeat ratione explicabo qui laborum laudantium eum, veritatis, illum delectus?