doctype html
html(lang="en")
	include _header
	body
		#wrapper.container 
			section#about.item.info
				h1 Staticlsdfjgksjghsk 
				h3 for Pug and Scss (operated by Gulp)
		script(src="js/scripts.js")