doctype html
html(lang="en")
	include _header
	body
		#App
			header 				
				.block-mainlogo 
				nav
					ul.mainMenu
						li.mainMenuItem
							a(href="#").mainMenuLink Main
						li.mainMenuItem
							a(href="#").mainMenuLink Kolegos / duomenys
						li.mainMenuItem
							a(href="#").mainMenuLink DUK
						li.mainMenuItem
							a(href="#").mainMenuLink Main
						li.mainMenuItem
							a(href="#").mainMenuLink Main
				.block-search
				.block-login
			main 
			footer 
			section#about.item.info
				h1 Information popup
				p for Pug and Scss (operated by Gulp)
				a(href="#").button.btn-primary ...want to know more?
		script(src="js/scripts.js")