@use "sass:math";
@import "../assets/_varmix";

.modalBackLock {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}